NOTION_API_KEY=your_notion_api_key_here
NOTION_WRITINGS_DATABASE_ID=your_notion_database_id_here

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_database_name
MYSQL_POOL_LIMIT=10

ELASTICSEARCH_URL=http://external_elasticsearch:9200
ELASTICSEARCH_INDEX=your_elasticsearch_index_name