{% load settings_values %}
<footer class="bottom-0 flex h-auto justify-center bg-buttons-default">
  <nav class="flex justify-between flex-col w-full desktop:w-desktop p-6">
    <div class="flex max-tablet:flex-col max-tablet:space-y-4 tablet:justify-between tablet:items-end pb-6">
      <a href="{% url 'main:main' %}" class="px-3 font-heading text-2xl text-text w-1/5 h-full">
        aldenluth.fi
      </a>
      <ul class="flex tablet:justify-end gap-3 text-sm font-body-bold text-text">
        <li>
          <a class="contact-button button flex justify-center py-2 px-3 rounded-md bg-buttons-default hover:bg-buttons-hover active:bg-buttons-active hover:scale-105 active:scale-100 text-buttons-text ease-in-out duration-200">
            <div class="hidden email">{% settings_value 'EMAIL' %}</div>
            <div class="original-text-contact pointer-events-none">
              Contact
            </div>
            <div class="pop-up-text-contact pointer-events-none hidden">
              Email Copied!
            </div>
          </a>
        </li>
        <li>
          <a
            class="button flex justify-center py-2 px-3 rounded-md bg-buttons-default hover:bg-buttons-hover active:bg-buttons-active hover:scale-105 active:scale-100 duration-200 text-buttons-text ease-in-out">
            Social Media
          </a>
        </li>
        <li>
          <a
            class="button flex justify-center py-2 px-3 rounded-md bg-buttons-default hover:bg-buttons-hover active:bg-buttons-active hover:scale-105 active:scale-100 duration-200 text-buttons-text ease-in-out">
            License
          </a>
        </li>
      </ul>
    </div>

    <div
      class="flex pt-6 max-tablet:justify-start tablet:justify-center border-2 border-transparent border-t-buttons-active">
      <p class="max-tablet:px-3 text-sm font-body text-text">
        <span class="inline-block scale-x-[-1]">&copy;</span> 2024 Alden Luthfi. All rights reversed.
      </p>
    </div>
  </nav>
  <script>
    function copyEmail() {

      let button = document.querySelector(".contact-button");

      navigator.clipboard.writeText("aldenluthfi@gmail.com").then(res => {
        var text = "Contact";

        button.innerHTML = "Email Copied!";

        setTimeout(() => { button.innerHTML = text }, 1000)
      });
    }
  </script>
</footer>