<footer class="bottom-0 flex h-auto justify-center bg-buttons-default">
  <nav class="flex justify-between flex-col w-full desktop:w-desktop p-6">
    <div class="flex max-tablet:flex-col max-tablet:space-y-4 tablet:justify-between tablet:items-end pb-6">
      <a href="{% url 'main:main' %}" class="font-heading text-2xl text-text w-1/5 h-full">
        aldenluth.fi
      </a>
      <ul class="w-4/5 flex tablet:justify-end gap-6 text-sm font-body-bold text-text">
        <li>
          <a href="#">Kontak</a>
        </li>
        <li>
          <a href="#">Sosial Media</a>
        </li>
        <li>
          <a href="#">Lisensi</a>
        </li>
      </ul>
    </div>

    <div class="flex pt-6 max-tablet:justify-start tablet:justify-center border-2 border-transparent border-t-buttons-active">
      <p class="text-sm font-body text-text">
        <span class="inline-block scale-x-[-1]">&copy;</span> 2023 Alden Luthfi. Hak cipta dibebaskan.
      </p>
    </div>
  </nav>
</footer>