{% load static %}
<div class="flex flex-col min-h-screen text-text items-center overflow-clip">
  <div class="title flex flex-col desktop:w-desktop justify-center items-center space-y-6 p-6 mt-52">
    <p class="max-tablet:w-screen max-tablet:px-10 font-body text-lg tablet:text-2xl text-text text-center">
      Hello! my name is <span class="font-body-bold text-accent">Luthfi</span>, but you can call me <span class="font-body-bold text-accent">Upi</span>,
      <br> I'm a
    </p>
    <h1 class="sliding text-7xl tablet:text-9xl justify-center font-heading whitespace-nowrap ease-in-out">
      Human · College Student · Teaching Assistant · Graphic Designer · Human · College Student · Teaching Assistant · Graphic Designer ·
    </h1>
    <p class="max-tablet:w-screen max-tablet:px-10 tablet:w-4/5 font-body text-lg tablet:text-2xl text-text text-center">
      This site is made <span class="font-body-bold text-accent">as is</span> without warranty of any kind.
    </p>
  </div>
  <div class="flex py-36 max-tablet:px-10 tablet:space-x-[3%] justify-center">
    <img src="{% static 'img/medprop.png' %}" class="photo hover:scale-105 duration-200 hidden tablet:block w-2/5 rounded-2xl">
    <img src="{% static 'img/solo.png' %}" class="photo hover:scale-105 duration-200 w-full tablet:w-2/5 rounded-2xl">
    <img src="{% static 'img/holeboys.png' %}" class="photo hover:scale-105 duration-200 hidden tablet:block w-2/5 rounded-2xl">
  </div>

  <div class="flex flex-col h-screen space-y-6">
    <h1 class="text-5xl tablet:text-7xl justify-center font-heading whitespace-nowrap ease-in-out">
      About Me
    </h1>
    <p class="font-body text-lg tablet:text-2xl text-text text-center">
      what have I been busy with:
    </p>

  </div>
</div>