{% load static %}
<div class="flex flex-col min-h-screen text-text items-center overflow-clip">
  <div class="title flex flex-col desktop:w-desktop justify-center items-center space-y-6 p-6 mt-52">
    <p class="max-tablet:w-screen max-tablet:px-10 font-body text-lg tablet:text-2xl text-text text-center">
      Halo! namaku <span class="font-body-bold text-accent">Luthfi</span>, tapi akrab dipanggil <span class="font-body-bold text-accent">Upi</span>,
      <br> Aku adalah seorang
    </p>
    <h1 class="sliding text-7xl tablet:text-9xl justify-center font-heading whitespace-nowrap ease-in-out">
      Manusia · Mahasiswa · Asisten Dosen · Desainer Grafis · Manusia · Mahasiswa · Asisten Dosen · Desainer Grafis ·
    </h1>
    <p class="max-tablet:w-screen max-tablet:px-10 tablet:w-4/5 font-body text-lg tablet:text-2xl text-text text-center">
      Situs ini dibuat <span class="font-body-bold text-accent">apa adanya</span> tanpa garansi apapun.
    </p>
  </div>

  <div class="flex py-36 max-tablet:px-10 tablet:space-x-[3%] justify-center">
    <img src="{% static 'img/medprop.png' %}" class="photo hover:scale-105 duration-200 hidden tablet:block w-2/5 rounded-2xl">
    <img src="{% static 'img/solo.png' %}" class="photo hover:scale-105 duration-200 w-full tablet:w-2/5 rounded-2xl">
    <img src="{% static 'img/holeboys.png' %}" class="photo hover:scale-105 duration-200 hidden tablet:block w-2/5 rounded-2xl">
  </div>

  <div class="flex flex-col h-screen space-y-6">
    <h1 class="text-5xl tablet:text-7xl justify-center font-heading whitespace-nowrap ease-in-out">
      Tentangku
    </h1>
    <p class="font-body text-lg tablet:text-2xl text-text text-center">
      kesibukanku selama ini:
    </p>

  </div>
</div>