name: deployment
on:
    push:
        branches:
            - main

jobs:
    deploy:
        name: Deploy website
        runs-on: ubuntu-latest
        if: contains(github.event.head_commit.message, 'build')
        steps:
            - name: Set up SSH
              uses: webfactory/ssh-agent@v0.8.0
              with:
                ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
            - name: Add host to known_hosts
              run: ssh-keyscan -H 193.180.208.235 >> ~/.ssh/known_hosts
            - name: Connect and deploy
              run: ssh aldenluthfi@193.180.208.235 "cd situsluthfi && ./deploy.sh"
            - name: Cleanup
              run: rm -rf ~/.ssh
